button{
    background-color: green;
    color: white;
    margin: 20px 0;
    padding: 5px;
}

.input2{
    color: green;
    background-color: gainsboro;
    margin-top: 20px;
}

input{
    padding: 5px;
}